.breadcrumbs {
  @extend %Montserrat-400;
  font-size: 18px;
  line-height: 1.2;
  padding: 50px 40px 55px;
    &__list {
    display: flex;
    flex-wrap: wrap;
  }
  &__item {
    white-space: nowrap;
    position: relative;
    &:last-child {
    color: #999;
    }
    &:not(:last-child) {
      padding-right: 20px;
      ::after {
        content: '';
        width: 8px;
        height: 11px;
        background-image: url(../images/icons/breadcrumbs-angle.svg);
        position: absolute;
        top: 5px;
        right: 5px;
      }
    } 
  }
}
// ---------------------------------------------------1260-----------------------------------------------------
@media (max-width: 1260px) {
  .breadcrumbs {
    padding: 40px 30px 45px;
  }
}
// ---------------------------------------------------1160-----------------------------------------------------
@media (max-width: 1160px) {
  .breadcrumbs {
    padding: 35px 25px 40px;
  }
}
// ---------------------------------------------------1060-----------------------------------------------------
@media (max-width: 1060px) {
  .breadcrumbs {
    padding: 30px 25px 35px;
  }
}
// ---------------------------------------------------960-----------------------------------------------------
@media (max-width: 960px) {
  .breadcrumbs {
    padding: 25px 25px 30px;
  }
}
// ---------------------------------------------------860-----------------------------------------------------
@media (max-width: 860px) {
  .breadcrumbs {
    padding: 22px 20px 27px;
  }
}
// ---------------------------------------------------660-----------------------------------------------------
@media (max-width: 660px) {
  .breadcrumbs {
    font-size: 17px;
    padding: 18px 5px 20px;
  }
}
// ---------------------------------------------------460-----------------------------------------------------
@media (max-width: 460px) {
  .breadcrumbs {
    padding: 16px 0 18px;
  }
}