html,
body {
   height: 100%;
}
body {
   display: flex;
   flex-direction: column;
   background-color: inherit;
   color: #1a1919;
}
.main {
   flex-grow: 1;
}

.container {
  max-width: 1370px;
  padding: 0 15px;
  margin: 0 auto;
}
.up-wrap {
  // max-width: 1470px;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 1;
  margin: 0 auto;
}
.up {
  // display: none;
  // background-color: #fff;
  // border-radius: 4px;
  // outline-color: rgba($body, .4);
  // margin-left: 30px;
  svg {
    opacity: 0.4;
  }
  svg:hover {
    opacity: .55;
  }
}