%Montserrat-400 {
  font-family: 'Montserrat-Regular', sans-serif;
  font-weight: 400;
}
%Montserrat-500 {
  font-family: 'Montserrat-Medium', sans-serif;
  font-weight: 500;
}
%Montserrat-700 {
  font-family: 'Montserrat-Bold', sans-serif;
  font-weight: 700;
}
%OpenSans-300 {
  font-family: 'OpenSans-Light', sans-serif;
  font-weight: 300;
}
%OpenSans-400 {
  font-family: 'OpenSans-Regular', sans-serif;
  font-weight: 400;
}
%OpenSans-600 {
  font-family: 'OpenSans-SemiBold', sans-serif;
  font-weight: 600;
}
%OpenSans-700 {
  font-family: 'OpenSans-Bold', sans-serif;
  font-weight: 700;
}

@mixin OpenSans-600 {
    font-family: 'OpenSans-SemiBold', sans-serif;
    font-weight: 600;
}
@mixin Montserrat-600 {
    font-weight: 600;
}

$body: #1a1919;
$link: #F6D28A;
$link-hover: #FDCD6D;
$link-active: #FFCD69;
$border: 1px solid #BCBBBB;
