@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';
@import 'media';
@import '../module/_header/_header';
@import '../module/_arrow-right/_arrow-right';
@import '../module/_footer/_footer';

.page-404 {
  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    padding: 200px 70px 165px;
  }
  &__content {
    max-width: 648px;
  }
  &__title {
    @extend %Montserrat-500;
    font-size: 300px;
    line-height: 1;
    color: #fff;
    margin-bottom: 60px;
    -webkit-text-stroke:5px $link;
  }
  &__text {
    @extend %OpenSans-400;
    font-size: 25px;
    line-height: 1.35;
    text-transform: uppercase;
  }
  &__link-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 390px;
    height: 370px;
    border: 2px solid #999999;
    border-radius: 50% 50%;
    position: relative;
    transition: all .3s;
    &--hover {
      border-color: $link;
      transform: scale(1.01);
      .page-404__link-text {
        color: $link-hover;
      }
    }
  }
  &__link-text {
    @extend %OpenSans-600;
    font-size: 40px;
    line-height: 1;
    letter-spacing: 0.075em;
    text-transform: uppercase;
    color: #999;
    transition: all .3s;
  }
  .arrow-right {
    position: absolute;
    right: -10px;
    bottom: 60px;
    &__angle {
      transform: translate(-35%, -50%) rotate(135deg);
    }
  }
}
// ---------------------------------------------------1660-----------------------------------------------------
@media (max-width: 1660px) {
  .page-404 {
    &__inner {
      padding: 150px 55px 125px;
    }
  }
}
// ---------------------------------------------------1410-----------------------------------------------------
@media (max-width: 1410px) {
  .page-404 {
    &__inner {
      padding: 125px 55px 110px;
    }
  }
}
// ---------------------------------------------------1260-----------------------------------------------------
@media (max-width: 1260px) {
  .page-404 {
    &__inner {
      padding: 100px 40px 90px;
    }
    &__title {
      font-size: 270px;
      margin-bottom: 50px;
    }
    &__text {
      font-size: 23px;
    }
    &__link-box {
      width: 351px;
      height: 333px;
    }
    &__link-text {
      font-size: 36px;
    }
    .arrow-right {
      width: 68px;
      height: 68px;
      right: -13px;
      bottom: 55px;
    }
  }
}
// ---------------------------------------------------1160-----------------------------------------------------
@media (max-width: 1160px) {
  .page-404 {
    &__inner {
      padding: 95px 30px 85px;
    }
    &__content {
      max-width: 532px;
    }
    &__title {
      font-size: 250px;
      margin-bottom: 40px;
    }
    &__text {
      font-size: 22px;
    }
    &__link-box {
      width: 320px;
      height: 303px;
    }
    &__link-text {
      font-size: 33px;
    }
    .arrow-right {
      width: 63px;
      height: 63px;
      bottom: 52px;
    }
  }
}
// ---------------------------------------------------960-----------------------------------------------------
@media (max-width: 960px) {
  .page-404 {
    &__inner {
      padding: 76px 25px 68px;
    }
    &__content {
      max-width: 484px;
    }
    &__title {
      font-size: 225px;
      line-height: 0.8;
    }
    &__text {
      font-size: 20px;
    }
    &__link-box {
      width: 288px;
      height: 273px;
    }
    &__link-text {
      font-size: 30px;
    }
    .arrow-right {
      width: 60px;
      height: 60px;
      bottom: 45px;
    }
  }
}
// ---------------------------------------------------860-----------------------------------------------------
@media (max-width: 860px) {
  .page-404 {
    &__inner {
      padding: 76px 20px 68px;
    }
    &__content {
      max-width: 435px;
    }
    &__title {
      font-size: 200px;
      margin-bottom: 30px;
    }
    &__text {
      font-size: 18px;
    }
    &__link-box {
      width: 256px;
      height: 243px;
    }
    &__link-text {
      font-size: 27px;
      letter-spacing: 0.06em;
    }
    .arrow-right {
      width: 56px;
      height: 56px;
      bottom: 36px;
    }
  }
}
// ---------------------------------------------------760-----------------------------------------------------
@media (max-width: 760px) {
  .page-404 {
    &__inner {
      padding: 67px 20px 60px;
    }
    &__content {
      max-width: 318px;
    }
    &__title {
      font-size: 150px;
      margin-bottom: 20px;
    }
    &__text {
      font-size: 17px;
    }
    &__link-box {
      height: 200px;
    }
    .arrow-right {
      width: 54px;
      height: 54px;
      right: -5px;
      bottom: 18px;
    }
  }
}
// ---------------------------------------------------660-----------------------------------------------------
@media (max-width: 660px) {
  .page-404 {
    &__inner {
      flex-direction: column;
      align-items: center;
      padding: 40px 10px 25px;
    }
    &__content {
      display: flex;
      align-items: center;
      max-width: 100%;
      margin-bottom: 20px;
    }
    &__title {
      font-size: 150px;
      margin: 0 25px 0 0;
    }
    &__text {
      font-size: 15px;
    }
    &__link-box {
      height: 130px;
    }
    .arrow-right {
      width: 50px;
      height: 50px;
      right: 10px;
      bottom: -5px;
    }
  }
}
// ---------------------------------------------------560-----------------------------------------------------
@media (max-width: 560px) {
  .page-404 {
    &__inner {
      padding: 25px 0 20px;
    }
    // &__content {
    //   display: flex;
    //   align-items: center;
    //   max-width: 100%;
    //   margin-bottom: 20px;
    // }
    &__title {
      font-size: 140px;
      margin: 0;
    }
    &__text {
      display: none;
    }
    // &__link-box {
    //   height: 130px;
    // }
    // .arrow-right {
    //   width: 50px;
    //   height: 50px;
    //   right: 10px;
    //   bottom: -5px;
    // }
  }
}
